.main_right_concent{
	box-sizing: border-box;
	border: 2px #ffd700 solid;
}




/* 上板块 */
.update_information{
	width: 100%;
	height: 35%;
	background-color: #f9ead6;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.update_information_first_title{
	width: 100%;
	height: 8%;
	background-image: url("../img/最新情节.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.update_information_second_title{
	width: 100%;
	height: 8%;
	background-color: #ffd700;
	display: flex;
	justify-content: center;
	align-items: center;
}
.update_information_second_title p{
	font-weight: bold;
	font-size: 13px;
}
.update_infomation_caricature{
	width: 100%;
	height: 38%;
	background-image: url("../img/Module-header-bg-transparent.png");
	background-color: #f9ead6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.update_infomation_caricature a{
	color:#006cb3 ;
}
.update_infomation_caricature a:hover{
	color: black;
	text-decoration: underline black;
}
.update_information_fourth_title p{
	font-weight: bold;
	font-size: 13px;
}
.update_information_fourth_title{
	width: 100%;
	height: 8%;
	background-color: #ffd700;
	display: flex;
	justify-content: center;
	align-items: center;
}




/* 中间板块 */
.middle_infomation{
	width: 100%;
	height: 40%;
	
}
.middle_infomation_1{
	width: 100%;
	height: 8%;
	background-image: url("../img/近期发表的单行本.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.middle_infomation_2{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	background-color:#ffd700;
	font-weight: bold;
	font-size: 13px;
	height: 8%;
}
.page1{
	width: 100%;
	height: 100%;
	display: block;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.toggle1{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.toggle2{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.page1 p{
	font-size:13px ;
	font-weight: bold;
}
.picture_1{
	width: 200px;
	height:270px;
	background-image: url("../img/picture2.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.page2{
	width: 100%;
	height: 100%;
	display: none;
}
.page2 p{
	font-size:13px ;
	font-weight: bold;
}
.picture_2{
	width: 200px;
	height:270px;
	background-image: url("../img/picture1.webp");
	
}





/* 后板块 */
.foot_infomation{
	width: 100%;
	height: 25%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.foot_infomation_1{
	height: 10%;
	width: 100%;
	background-image: url("../img/你知道吗.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.foot_infomation_2{
	height: 40%;
	width: 100%;
}
.foot_infomation_2 p{
	font-size: 12px;
	font-weight: 200px;
}
.foot_infomation_3{
	height: 10%;
	width: 100%;
	background-image: url("../img/栏目.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.foot_infomation_4{
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: center;
}
.ul{
	width: 100%;
	height: 33.3%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}
.ul div{
	height: 100%;
	width: 100%;
}
.ul div:hover{
	background-color: #ffd700;
}
.ul div {
	display: flex;
	justify-content: center;
	align-items: center;
}